In [3]:
# !pip install pandas

In [1]:
# import libraries needed
import numpy as np
import pandas as pd

/var/folders/z1/zt4b5v_n0yb49qxq46y1gp080000gn/T/ipykernel_1290/84709064.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Starting

In [2]:
sales = [0, 5, 155, 0, 518, 0, 1827, 616 ,317,325]
sales_series = pd.Series(sales, name='Sales within series')
sales_series

0       0
1       5
2     155
3       0
4     518
5       0
6    1827
7     616
8     317
9     325
Name: Sales within series, dtype: int64

In [3]:
sales_series.index, sales_series.values, sales_series.name

(RangeIndex(start=0, stop=10, step=1),
 array([   0,    5,  155,    0,  518,    0, 1827,  616,  317,  325]),
 'Sales within series')

In [4]:
sales_series.values.mean(), sales_series.mean() # are the same

(376.3, 376.3)

In [5]:
sales_series.index = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun', 'Mon', 'Tue', 'Wed']
sales_series

Mon       0
Tue       5
Wed     155
Thu       0
Fri     518
Sat       0
Sun    1827
Mon     616
Tue     317
Wed     325
Name: Sales within series, dtype: int64

In [6]:
sales_series.dtype

dtype('int64')

In [7]:
sales_series.astype('float')

Mon       0.0
Tue       5.0
Wed     155.0
Thu       0.0
Fri     518.0
Sat       0.0
Sun    1827.0
Mon     616.0
Tue     317.0
Wed     325.0
Name: Sales within series, dtype: float64

# Assignment 1: Series Basics

The code has been previded to create an array, `oil_array` from a dataframe column. 

* Convert `oil_array` into a Pandas Series, called `oil_series`. Give it a name!
* Return the name, dtype, size, and index of `oil_series`.

Take the mean of the values array. 

Then, convert the series to integer datatype and recalculate the mean.

In [8]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv("../retail/oil.csv").dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])
oil_series = pd.Series(oil_array, name="Oil Price")
oil_array.mean(), oil_series.mean()

(51.128299999999996, 51.128299999999996)

In [9]:
oil_series.astype('int').mean()

50.66

### The index - CLASS 39

In [10]:
sales = [0, 5, 155, 0, 518]
items = ['coffee', 'bananas', 'tea', 'coconut', 'sugar']
sales_series = pd.Series(sales, index=items, name='Sales')
sales_series

coffee       0
bananas      5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [11]:
sales_series['coffee': 'tea']

coffee       0
bananas      5
tea        155
Name: Sales, dtype: int64

In [12]:
sales_series[0:2]

coffee     0
bananas    5
Name: Sales, dtype: int64

In [13]:
sales_series.iloc[0:2]

coffee     0
bananas    5
Name: Sales, dtype: int64

In [14]:
sales_series.sort_values()

coffee       0
coconut      0
bananas      5
tea        155
sugar      518
Name: Sales, dtype: int64

In [15]:
# Assuming you have a Pandas Series called 'series'
sorted_series = sales_series.sort_index()
sorted_series

bananas      5
coconut      0
coffee       0
sugar      518
tea        155
Name: Sales, dtype: int64

### ILOC

In [16]:

sorted_series.iloc[0], sorted_series.iloc[1:2], sorted_series.iloc[[1,2]]

(5,
 coconut    0
 Name: Sales, dtype: int64,
 coconut    0
 coffee     0
 Name: Sales, dtype: int64)


### LOC ==> [row label, column label]

In [17]:
sorted_series.loc['bananas':'coffee']

bananas    5
coconut    0
coffee     0
Name: Sales, dtype: int64

In [18]:
sales_series = pd.Series(sales, index=items, name='Sales')
sales_series

coffee       0
bananas      5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [19]:
sales_series.reset_index(drop=True)

0      0
1      5
2    155
3      0
4    518
Name: Sales, dtype: int64

In [20]:
sales_series

coffee       0
bananas      5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

### Duplicate index values

In [21]:
sales = [0, 5, 155, 0, 518]
items = ['coffee', 'coffee', 'tea', 'coconut', 'sugar']
sales_series = pd.Series(sales, index=items, name='Sales')
sales_series

coffee       0
coffee       5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [22]:
sales_series.loc['coffee']

coffee    0
coffee    5
Name: Sales, dtype: int64

In [23]:
sales_series.reset_index()

     index  Sales
0   coffee      0
1   coffee      5
2      tea    155
3  coconut      0
4    sugar    518

# Assignment 2:  Accessing Series Data

* Set the date series, which has been created below, to be the index of the oil price series created in assignment 1.


* Then, take the mean of the first 10 and last 10 prices of the series.


* Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.

In [24]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv("../retail/oil.csv").dropna()
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])
oil_series = pd.Series(oil_array, name="Oil Price")

In [25]:
# extract date column from oil DataFrame and grab first 100 rows
dates = pd.Series(oil["date"]).iloc[1000:1100]
dates

1035    2016-12-20
1036    2016-12-21
1037    2016-12-22
1038    2016-12-23
1040    2016-12-27
           ...
1135    2017-05-09
1136    2017-05-10
1137    2017-05-11
1138    2017-05-12
1139    2017-05-15
Name: date, Length: 100, dtype: object

In [26]:
oil_series2 = pd.Series(oil_series.values, index=dates, name="Oil Price")
# or OIL_SERIE.INDEX = DATES
oil_series2

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: Oil Price, Length: 100, dtype: float64

In [27]:
mean_first_10 = oil_series2.iloc[0:10].mean()
mean_last_10 = oil_series2.iloc[-10:].mean()
mean_first_10, mean_last_10

(52.765, 47.13)

In [28]:
oil_series2.loc['2017-01-01':'2017-01-07'].reset_index(drop=True)

0    52.36
1    53.26
2    53.77
3    53.98
Name: Oil Price, dtype: float64

### class 45: FILTERING SERIES

In [29]:
sales_series.loc[sales_series > 0]

coffee      5
tea       155
sugar     518
Name: Sales, dtype: int64

In [30]:
mask = (sales_series > 0) & (sales_series.index == 'coffee')
sales_series.loc[mask]

coffee    5
Name: Sales, dtype: int64

In [31]:
sales_series == 5

coffee     False
coffee      True
tea        False
coconut    False
sugar      False
Name: Sales, dtype: bool

In [32]:
# pandas method, can convienently be used with .loc and chained
sales_series.eq(5)

coffee     False
coffee      True
tea        False
coconut    False
sugar      False
Name: Sales, dtype: bool

In [33]:
sales_series.index.isin(['coffee', 'tea'])

array([ True,  True,  True, False, False])

In [34]:
# sales_series in ['coffee', 'tea'] #### ERROR!
~sales_series.index.isin(['coffee', 'tea'])

array([False, False, False,  True,  True])

In [35]:
my_series = pd.Series(
    [1, 2, 3, 4, 5],
    index=['day 1', 'day 2', 'day 3', 'day 4', 'day 5']
)   
my_series.loc[(my_series != 2)]

day 1    1
day 3    3
day 4    4
day 5    5
dtype: int64

In [36]:
my_series.loc[(my_series != 2) & (my_series.isin([1,2]))]

day 1    1
dtype: int64

### SORTING SERIES

In [37]:
sales_series.sort_values()

coffee       0
coconut      0
coffee       5
tea        155
sugar      518
Name: Sales, dtype: int64

In [38]:
sales_series.sort_index(ascending=False, inplace=True)

In [39]:
sales_series

tea        155
sugar      518
coffee       0
coffee       5
coconut      0
Name: Sales, dtype: int64

# Assignment 3: Sorting and Filtering Series

* First, get the 10 lowest prices from the data. 
* Sort the 10 lowest prices by date, starting with the most recent and ending with the oldest price.

* Finally, use the list of provided dates. Select only rows with these dates that had a price of less than 50 dollars per barrel.

In [40]:
oil_series2.sort_values().iloc[0:10].sort_index(ascending=False)

date
2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: Oil Price, dtype: float64

In [41]:
# list of dates to be used to solve bullet 
dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

In [42]:
mask = (oil_series2.index.isin(dates)) & (oil_series2 <= 50)
oil_series2.loc[mask]

date
2017-03-21    47.02
2017-05-03    47.79
Name: Oil Price, dtype: float64

### ARITHMETIC OPERATORS AND METHODS

In [43]:
sales_series + 1

tea        156
sugar      519
coffee       1
coffee       6
coconut      1
Name: Sales, dtype: int64

In [44]:
sales_series * 2

tea         310
sugar      1036
coffee        0
coffee       10
coconut       0
Name: Sales, dtype: int64

In [45]:
my_series = pd.Series(
    [1, np.NAN, 2, 3, 4],
    index=['day 1', 'day 2', 'day 3', 'day 4', 'day 5']
)
my_series + 1

day 1    2.0
day 2    NaN
day 3    3.0
day 4    4.0
day 5    5.0
dtype: float64

In [46]:
my_series2 = my_series.add(1, fill_value=0).astype('int')
my_series2

day 1    2
day 2    1
day 3    3
day 4    4
day 5    5
dtype: int64

In [47]:
my_series + my_series2

day 1    3.0
day 2    NaN
day 3    5.0
day 4    7.0
day 5    9.0
dtype: float64

### String methods

In [48]:
prices = pd.Series(['$3.99', '$2.45', '$1.25', '$9.99'])
some_text = pd.Series(['James 1', 'John 2', 'Robert 3', 'Mary 4'])

In [49]:
prices.str.contains('3')

0     True
1    False
2    False
3    False
dtype: bool

In [50]:
clean = prices.str.replace('$', '').astype('float')
clean

0    3.99
1    2.45
2    1.25
3    9.99
dtype: float64

In [51]:
clean2 = prices.str.strip('$').astype('float')
clean2

0    3.99
1    2.45
2    1.25
3    9.99
dtype: float64

In [52]:
some_text.str.upper().str.contains('J')

0     True
1     True
2    False
3    False
dtype: bool

In [53]:
some_text.str[-3:]

0    s 1
1    n 2
2    t 3
3    y 4
dtype: object

In [54]:
some_text.str.split(' ', expand=True)

        0  1
0   James  1
1    John  2
2  Robert  3
3    Mary  4


# Assignment 4: Series Operations

* Increase the prices in the oil series by 10%, and add an additional 2 dollars per barrel on top of that.

* Then, create a series that represents the difference between each price and max price.

* Finally, extract the month from the string dates in the index and store them as an integer in their own series.

In [55]:
oil_series2

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: Oil Price, Length: 100, dtype: float64

In [56]:
new_price = (oil_series2 * 1.10) + 2

In [57]:
max_price = oil_series2.max()
max_price

54.48

In [58]:
difference = (oil_series2 - max_price) / max_price
difference

date
2016-12-20   -0.041483
2016-12-21   -0.055800
2016-12-22   -0.045888
2016-12-23   -0.045338
2016-12-27   -0.030470
                ...
2017-05-09   -0.158590
2017-05-10   -0.132159
2017-05-11   -0.122430
2017-05-12   -0.122063
2017-05-15   -0.103157
Name: Oil Price, Length: 100, dtype: float64

In [59]:
new_serie_month = oil_series2.index.str.split('-').str[1].astype('int')
new_serie_month

Index([12, 12, 12, 12, 12, 12, 12, 12,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  5,
        5,  5,  5,  5,  5,  5,  5,  5,  5,  5],
      dtype='int64', name='date')

In [60]:
# OR
new_serie_month = oil_series2.index.str[5:7].astype('int')
pd.Series(new_serie_month)

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: date, Length: 100, dtype: int64

## NUMERIC SERIES AGGREGATION

In [61]:
sales_series

tea        155
sugar      518
coffee       0
coffee       5
coconut      0
Name: Sales, dtype: int64

In [62]:
sales_series.count(), sales_series.size, sales_series.sum()

(5, 5, 678)

In [63]:
sales_series.loc['coffee'].sum()

5

In [64]:
sales_series.quantile([0.25, 0.50, 0.75])

0.25      0.0
0.50      5.0
0.75    155.0
Name: Sales, dtype: float64

In [65]:
sales_series.mean(), sales_series.median()

(135.6, 5.0)

In [66]:
sales_series.min(), sales_series.max(), sales_series.unique()

(0, 518, array([155, 518,   0,   5]))

In [67]:
sales_series.nunique()

4

In [68]:
transactioins = pd.read_csv("../retail/transactions.csv")
transactioins_series = pd.Series(transactioins["transactions"])
transactioins_series

0         770
1        2111
2        2358
3        3487
4        1922
         ...
83483    2804
83484    1573
83485    2255
83486     932
83487     802
Name: transactions, Length: 83488, dtype: int64

In [69]:
transactioins_series.loc[:5].quantile([0.50], interpolation='nearest')

# o nearest pegará o valor mais próximo

0.5    1922
Name: transactions, dtype: int64

## CATEGORICAL SERIES AGGREGATION

In [72]:
items_series = pd.Series(items)

In [74]:
items_series.unique()

array(['coffee', 'tea', 'coconut', 'sugar'], dtype=object)

In [75]:
items_series.nunique()

4

In [76]:
items_series.value_counts()

coffee     2
tea        1
coconut    1
sugar      1
Name: count, dtype: int64

In [77]:
items_series.value_counts(normalize=True)

coffee     0.4
tea        0.2
coconut    0.2
sugar      0.2
Name: proportion, dtype: float64

# Assignment 5: Series Aggregations

* Calculate the sum and mean of prices in the month of March. 

* Next, calculate how many prices were recorded in January and February.

* Then, calculate the 10th and 90th percentiles across all data.

* Finally, how often did integer dollar value (e.g. 51, 52) occur in the data? Normalize this to a percentage.

In [84]:
oil_series3 = oil_series2.copy()
oil_series3.index = pd.to_datetime(oil_series3.index)

In [87]:
oil_series3[oil_series3.index.month == 3].sum()

1134.5399999999997

In [88]:
oil_series3[oil_series3.index.month == 3].mean()

49.32782608695651

In [91]:
## OU

oil_series2[oil_series2.index.str[5:7].isin(['01', '02'])].count()

39

In [90]:
oil_series3.quantile([0.1, 0.9])

0.1    47.299
0.9    53.811
Name: Oil Price, dtype: float64

In [95]:
# Finally, how often did integer dollar value (e.g. 51, 52) 
# occur in the data? Normalize this to a percentage.   

oil_series2[oil_series2.astype('int').isin([52, 51])]

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
2017-01-03    52.36
2017-01-09    51.95
2017-01-11    52.19
2017-01-13    52.36
2017-01-17    52.45
2017-01-18    51.12
2017-01-19    51.39
2017-01-20    52.33
2017-01-23    52.77
2017-01-24    52.38
2017-01-25    52.14
2017-01-30    52.63
2017-01-31    52.75
2017-02-07    52.19
2017-02-08    52.37
2017-02-09    52.99
2017-02-13    52.96
2017-03-02    52.63
2017-03-07    52.68
2017-04-05    51.14
2017-04-06    51.69
2017-04-07    52.25
2017-04-17    52.62
2017-04-18    52.46
Name: Oil Price, dtype: float64

In [97]:
oil_series2.astype('int').value_counts(normalize=True)[0:2]

Oil Price
53    0.26
52    0.22
Name: proportion, dtype: float64

## CLASS 57: Missing Data

In [102]:
sales = [0, 5, 155, np.nan, 0, 518]
sales_series = pd.Series(sales, name='Sales')
sales_series

0      0.0
1      5.0
2    155.0
3      NaN
4      0.0
5    518.0
Name: Sales, dtype: float64

In [103]:
sales_series + 2

0      2.0
1      7.0
2    157.0
3      NaN
4      2.0
5    520.0
Name: Sales, dtype: float64

In [104]:
sales_series.add(2, fill_value=0)

0      2.0
1      7.0
2    157.0
3      2.0
4      2.0
5    520.0
Name: Sales, dtype: float64

## CLASS 58: Indentifying missing data

In [105]:
sales_series.isna(), sales_series.isnull()

(0    False
 1    False
 2    False
 3     True
 4    False
 5    False
 Name: Sales, dtype: bool,
 0    False
 1    False
 2    False
 3     True
 4    False
 5    False
 Name: Sales, dtype: bool)

In [106]:
sales_series.isna().sum()

1

In [107]:
sales_series.value_counts(dropna=False)

Sales
0.0      2
5.0      1
155.0    1
NaN      1
518.0    1
Name: count, dtype: int64

## CLASS 59: Handling missing data

In [112]:
sales_series.dropna()   # breaks the index

0      0.0
1      5.0
2    155.0
4      0.0
5    518.0
Name: Sales, dtype: float64

In [114]:
sales_series.dropna().reset_index(drop=True)   # fix the index

0      0.0
1      5.0
2    155.0
3      0.0
4    518.0
Name: Sales, dtype: float64

In [117]:
sales_series.fillna(sales_series.median())

0      0.0
1      5.0
2    155.0
3      5.0
4      0.0
5    518.0
Name: Sales, dtype: float64

# Assignment 6: Missing Data

There were some erroneous prices in our data, so they were filled in with missing values.

Can you confirm the number of missing values in the price column? 

Once you’ve done that, fill the prices in with the median of the oil price series.

In [121]:
# Fill in two values with missing data

oil_series2 = oil_series2.where(~oil_series2.isin([51.44, 47.83]), pd.NA)

In [123]:
oil_series2

date
2016-12-20    52.22
2016-12-21      NaN
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12      NaN
2017-05-15    48.86
Name: Oil Price, Length: 100, dtype: float64

In [120]:
oil_series.isna().sum()

2

In [124]:
oil_series2.fillna(oil_series2.median())

date
2016-12-20    52.220
2016-12-21    52.205
2016-12-22    51.980
2016-12-23    52.010
2016-12-27    52.820
               ...
2017-05-09    45.840
2017-05-10    47.280
2017-05-11    47.810
2017-05-12    52.205
2017-05-15    48.860
Name: Oil Price, Length: 100, dtype: float64

## Class 62: Apply Method

In [128]:
sales_series

0      0.0
1      5.0
2    155.0
3      NaN
4      0.0
5    518.0
Name: Sales, dtype: float64

In [129]:
def discount(price):
    if price > 20:
        return round(price * 0.9,2)
    else:
        return price
    
sales_series.apply(discount)

0      0.0
1      5.0
2    139.5
3      NaN
4      0.0
5    466.2
Name: Sales, dtype: float64

In [130]:
sales_series.apply(lambda x: round(x * 0.9,2) if x > 20 else x)

0      0.0
1      5.0
2    139.5
3      NaN
4      0.0
5    466.2
Name: Sales, dtype: float64

## 63 class: The where methodm. OBS: Acts with the expressions is FALSE?!?!?!?!?

In [135]:
clean_wholesale = pd.Series(['3.99', '2.45', '1.25', '9.99', '5.77']).astype('float')
clean_wholesale

0    3.99
1    2.45
2    1.25
3    9.99
4    5.77
dtype: float64

In [138]:
clean_wholesale.where(clean_wholesale <= 5, clean_wholesale * 0.5)

0    3.990
1    2.450
2    1.250
3    4.995
4    2.885
dtype: float64

In [140]:
np.where(clean_wholesale <= 5, clean_wholesale * 0.5, clean_wholesale * 1)

array([1.995, 1.225, 0.625, 9.99 , 5.77 ])

# Exercise 7: Apply and Where

Write a function that outputs ‘buy’ if price is less than the 90th percentile and ‘wait’ if it’s not. Apply it to the oil series.

Then, create a series that multiplies price by .9 if the date is ‘2016-12-23’ or ‘2017-05-10’, and 1.1 for all other dates.

In [142]:
def my_function(price, perc_90):
    if price < perc_90:
        return 'buy'
    else:
        return 'wait'

oil_series

0     52.22
1       NaN
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98      NaN
99    48.86
Name: Oil Price, Length: 100, dtype: float64

In [143]:
oil_series.apply(my_function, perc_90=oil_series.quantile(0.9))

0      buy
1     wait
2      buy
3      buy
4      buy
      ...
95     buy
96     buy
97     buy
98    wait
99     buy
Name: Oil Price, Length: 100, dtype: object

In [149]:
# Then, create a series that multiplies price by .9 if the date is ‘2016-12-23’ or ‘2017-05-10’, and 1.1 for all other dates. 

pd.Series(np.where(oil_series2.isin(['2016-12-23' or '2017-05-10']), oil_series2 * 0.9, oil_series2 * 1.1), index=oil_series2.index)

date
2016-12-20    57.442
2016-12-21       NaN
2016-12-22    57.178
2016-12-23    57.211
2016-12-27    58.102
               ...
2017-05-09    50.424
2017-05-10    52.008
2017-05-11    52.591
2017-05-12       NaN
2017-05-15    53.746
Length: 100, dtype: float64